.pageWrapper {
  max-width: 60ch;
}

.navItem {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 2rem 0;
}

.episodeTitle {
  font-size: 1.2rem;
  line-height: 1.2;
  text-decoration: none;
}

.date {
  font-style: italic;
}
