html,
body {
  --brand-accent-color: #ed6e5f;
  --brand-white: #fafafa;
  --brand-black: #1e1e1e;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--brand-black) !important;
  color: var(--brand-white);
}

a {
  color: var(--brand-accent-color);
}

* {
  box-sizing: border-box;
}

.code {
  background: var(--brand-white);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--brand-black);
  }
}

.encore-anchor-light-theme {
  background-color: transparent !important;
}
